/********************************************************************************/
/*                               Style of index.html                            */
/*                            Author: Samuel Avella Pérez                       */
/*                                    Version: 1.0                              */
/*                               Comment: final project                         */
/********************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald',sans-serif;
}
  
html{scroll-behavior: smooth;}

body{
    background-color: #f2f2f2;
}

button{
    border: none;
    font-weight: bold;
    padding:3px 15px;
    border-radius: 10px;
    background-color:rgb(240, 248, 255);
    text-decoration: none;
    font-family: sans-serif;
}

/***********************NAV***********************/
nav{position: sticky;
    top: 0;}
/* Add a black background color to the top navigation */
nav {
    background-color: #000000e3;
    overflow: hidden;
    position: fixed;
    z-index: 99;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.4em;
    font-family: 'Oswald';
  }

@media screen and (min-width:940px) {
    .topnav a{font-size: 1.25em;}
}  

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #3581B8;
    color: #f2f2f2;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width:940px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    
  }
  
  @media screen and (max-width: 940px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/***********************HERO***********************/
#hero{
    background-image: url(../img/hero.jpg);
    background-size: cover;
    height: 100vh;                   
    background-position: center;
    position: relative;
}
#hero h1{
    color: #f2f2f2;
    font-size: 2em;
}

@media screen and (min-width:940px) {
    #hero h1{font-size: 2.2em;}
}

#hero .container{
    position: absolute;
    top: 32%;
    left: 10%;
}
  
#hero .container span{
    color: #3581B8;
}

#hero .go-down{
    position: absolute;
    bottom: 50px;
    width: 26px;
    height:40px;
    border:1px solid #ffffff;
    display: block;
    border-radius:4px;
    text-align: center;
    left:50%;
    margin-left: -13px;
  }
#hero .go-down .fa{
    color:#ffffff;
    -webkit-animation: goDown 1s ease infinite;
    animation: goDown 1s ease infinite;
}
@-webkit-keyframes goDown{
    0%{transform: translateY(0);opacity:.5}
    100%{transform: translateY(10px);}
}
@keyframes goDown{
    0%{transform: translateY(0);opacity:.5}
    100%{transform: translateY(10px);}
}
  
/***********************WRAPPER***********************/

#wrapper{
    width: 100%;
    margin: auto
  }

@media screen and (min-width:940px) {
    #wrapper{width: 90%;}
}

/***********************INTRO***********************/

#intro h1{
    color: #3581B8;
    padding-top: 15%;
    font-size: 2.1em;
    text-align: center;
}
  
.grid-3{
    display: grid;
    grid-template-columns: auto;
}

#intro .grid-3{
    gap: 1.2rem;
    padding: 3% 2%;
    margin: auto;
}
  
.col-3 {
    flex: 100%;
    max-width: 100%;
}
  
#intro .text{
    padding: 0% 5%;
    padding-bottom: 3%;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 2%;
}
  
#intro h3{
    font-family: 'Oswald';
    font-size: 1.8em;
    color: white;
    text-align: center;
}
  
#intro p{
    font-family: sans-serif;
    font-size: 1.2em;
    color: white;
    text-align: center;
}
  
#intro #col-3a{
    background-color: #3581B8;
}

#intro #col-3b{
    background-color: #535050;
}

#intro img{width: 100%;}

@media screen and (min-width:940px) {
    #intro h1{font-size: 2.5em; padding-top: 6%;}
    #intro p{font-size: 1em;}
    .grid-3{grid-template-columns: auto auto auto;}
    #intro .grid-3{gap: 2em;}
}

/***********************STARTING**********************/

#starting{
    background-color: #3581B8;
}
  
#starting h1{
    color: #f2f2f2;
    padding-top: 15%;
    font-size: 2.1em;
    text-align: center;
    padding-bottom: 3%;
}
  
  
.grid-2{
    display: grid;
    grid-template-columns: 100%;
    margin-left: 4%;
    margin-right: 4%;
}
  
.col-2{
    flex: 100%;
    max-width: 100%;
}
 
#starting .grid-2{
    padding-bottom: 3%;
}

#starting p{
    font-family: sans-serif;
    font-size: 1.2em;
    color: white;
    text-align: center;
}
  
#starting button{
    font-size: 0.7em;
    text-decoration: none;
    color: black;
    padding: 7px 15px;
}
  
#starting img{width: 100%;
    border-radius: 10px;
}
  
#starting button:hover{background-color: rgba(211, 229, 235, 0.808);}

@media screen and (min-width:940px) {
    #starting h1{font-size: 2.5em; padding-top: 6%}
    #starting p{font-size: 1.2em;}
    .grid-2{grid-template-columns: auto auto;}
    #starting .grid-2{gap: 2em;}
    #starting .text{padding: 1% 4%;}
}

/***********************GALLERY***********************/
#gallery{
    padding-bottom: 3%;
}

#gallery h1{
    color: #000000;
    padding-top: 15%;
    font-size: 2.1em;
    text-align: center;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.column {
    flex: 100%;
    max-width: 100%;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (min-width:650px) {
    .column {
      flex: 50%;
      max-width: 50%;
      padding: 0 4px;
    }
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width:940px) {
    #gallery h1{font-size: 2.5em; padding-top: 6%}
}


/***********************ROUTINES***********************/

#routines{
    background-color: #3581B8;
}
  
#routines h1{
    color: #f2f2f2;
    padding-top: 15%;
    font-size: 2.1em;
    text-align: center;
    padding-bottom: 3%;
}

#routines p{
    font-size: 1.2em;
    color: white;
}

#routines {
    width: 100%;
    height: 100vh;
    background-color: #3581B8;
}
  
#routines .container{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
  
.accordion-item{
    background-color: #3581B8;
    border-radius: .4rem;
}
  
.accordion-item hr{
    border: 1px solid rgba(255, 255, 255, 0.5);
}
  
.accordion-link{
    font-size: 1.6rem;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    background-color: #3581B8;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
  
.accordion-link h3{
    font-weight:500;
    font-size: 20px;
}
  
.accordion-link i{
    color: #e7d5ff;
    padding: .5rem;
    
}
  
.accordion-link ul{
    display:flex;
    align-items: flex-end;
    list-style-type: none;
    margin-left: 25px;
}
  
.accordion-link li{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.4);
    padding: 0 0 1px 5px;
}
  
.accordion-link div{
    display: flex;
}
  
.accordion-link .ion-md-arrow-down{
    display: none;
}
  
.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #3581B8;
    transition: max-height 650ms;
}
  
  
  
.answer p{
    color: #fff;
    font-size: 15px;
    padding: 2rem;
    
}
  
.accordion-item:target .answer{
    max-height: 20rem;
}
  
.accordion-item:target .accordion-link .ion-md-arrow-forward{
    display: none
}
  
.accordion-item:target .accordion-link .ion-md-arrow-down{
    display: block;
}

@media screen and (min-width:940px) {
    #routines h1{font-size: 2.5em; padding-top: 6%;}
    #routines p{font-size: 1em;}
}
/***********************FOOTER***********************/

footer{
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
}

#footer .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

#footer h2{
    color: #f2f2f2;
}

#footer .titulos-footer{
    font-weight: 300;
    display: inline-block;
    padding-bottom: .6rem;
    margin: 1rem 0;
    position: relative;
}

#footer .titulos-footer:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 0%;
    border-bottom: .2rem solid #3581B8;
}

#footer .sobre-mi p{
    font-size: 1rem;
    line-height: 1.4rem;
    padding-bottom: 1rem;
    color: #e0e0e0;
}

#footer .redes-sociales{
    display: flex;
    gap: 1rem;
    margin: .5rem 0;
}

#footer .redes-sociales a{
    padding: .6rem;
    background-color: #f2f2f2;
    border-radius: .2rem;
}

#footer .redes-sociales a:hover{
    background-color: #3581B8;
}

#footer .fa-brands{
    font-size: 1.3rem;
    color: #3581B8;
}

#footer .fa-brands:hover{
    color: #f2f2f2;
}


#footer .navegacion ul{
    list-style: none;
    text-decoration: none;
}
#footer .navegacion li a{
    display: inline-block;
    margin-bottom: .8rem;
    color: #e0e0e0;
}

#footer .navegacion li a:hover{
    color: white;
}

#footer .informacion-contacto li{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#footer .informacion-contacto p{
    color: #e0e0e0;
}

#footer .fa-solid{
    font-size: 1.2rem;
    max-height: 1rem;
    max-width: 1rem;
    color: #f2f2f2;
}

#footer .copy{
    text-align: center;
    font-size: .9rem;
    line-height: 1.4rem;
    background-color: #ffffff;
    background-color: #303030;
    padding: .5rem;
}

@media (min-width: 750px){
    #footer .container{
        flex-direction: row;
    }
    .sobre-mi{
        width: 40%;
    } 
}
